@import "reset", "common";

// 4:3 공통 스타일
@media all and (min-width:1024px) and (device-aspect-ratio: 4/3) and (orientation: landscape){
  #siteMap {
    padding: 0 2rem;
    > ul {
      padding: 6.6% 1.5rem;
      > li {
        ul {
          margin: 3rem 1rem;
          li {
            h4 {
              font-size: 1.8rem;
            }
            p {
              min-height: 5.4rem;
            }
          }
        }
      }
    }
  }
}
// 1024
@media all and (max-width:1024px) and (device-aspect-ratio: 4/3) and (orientation: landscape){

}
// 2048
@media all and (min-width:2048px) and (device-aspect-ratio: 4/3) and (orientation: landscape){
  html,
  body {
    font-size: 20px;
  }
}
// 16:10
@media all and (min-width:1280px) and (device-aspect-ratio: 16/10) and (orientation: landscape){

}
// 16:9
@media all and (min-width:1280px) and (device-aspect-ratio: 16/9) and (orientation: landscape){

}

@media all and (device-aspect-ratio: 569/356) and (orientation: landscape){

}